#title {
  font-family: monospace;
}

.color {
  display: inline-block;
}

#color-palette{
  margin: 10px;
  padding: 1px;
}

#black {
  background-color: black;
  width: 50px;
  height: 50px;
  border: black;
  border-width: 1px;
  border-style: solid;}

#purple {
  background-color: purple;
  width: 50px;
  height: 50px;
  border: black;
  border-width: 1px;
  border-style: solid;}

#yellow {
  background-color: yellow;
  width: 50px;
  height: 50px;
  border: black;
  border-width: 1px;
  border-style: solid;
}

#blue {
  background-color: blue;
  width: 50px;
  height: 50px;
  border-width: 1px;
  border-style: solid;
}

#pixel-board {
  padding: 10px;
}

.line {
  margin: 0;
}

.pixel {
  width: 40px;
  height: 40px;
  border: black;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  display: inline-block;
}